.formContainer {
    display: flex;
    /* justify-content: left; */
    flex-direction: column;
    /* flex: 2; */
    /* text-align: center; */
    /* justify-items: right; */
    padding: 1rem;
  }